.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
tsbuild/
!tsbuild/extension.js
!tsbuild/bin
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
.vscode
node_modules
src/
tsconfig.json
.crates.toml
.crates2.json
